.container
  .jumbotron
    %h1.display-4
      ="About Me"
    .row
      %p{style:"text-align: justify;"} 
        = "I'm baby organic synth austin single-origin coffee paleo, pitchfork vape art party tousled hella raw denim tilde coloring book. Cray woke authentic, pickled tilde normcore gluten-free keffiyeh franzen asymmetrical deep v marfa godard brooklyn kale chips. Kogi celiac godard artisan, ethical squid pop-up. Meh unicorn echo park vaporware put a bird on it kitsch skateboard la croix. Letterpress gentrify iceland waistcoat 90's."
        %br
        %br 
        = "Poutine helvetica raclette photo booth. Truffaut taiyaki tousled cold-pressed normcore air plant. Everyday carry glossier gluten-free, tofu photo booth paleo 90's put a bird on it vexillologist DIY jean shorts lomo schlitz. Irony selvage hammock 3 wolf moon heirloom cloud bread."
      %hr.my-4
    .btn-group{"role" =>"group", "aria-lable" => "Basic example"}
      %button.btn.btn-secondary{"type" => "button", onclick: "window.location.href = 'https://github.com/oscarmolivera';"} Github
      %button.btn.btn-secondary{"type" => "button", onclick: "window.location.href = 'https://twitter.com/oscarmolivera';"} Twitter
      %button.btn.btn-secondary{"type" => "button", onclick: "window.location.href = 'https://www.instagram.com/invertmarks';"} Instagram
      %button.btn.btn-secondary{"type" => "button", onclick: "window.location.href = 'https://www.linkedin.com/in/oscarmolivera/';"} Linkedin